In [1]:
l1= [1,2,3,4]
l2=[4,5,6,7]
for i in l1:
    if i in l2:
        print(i)

4

In [2]:
l1= [1,2,3,4]
l2=[4,3,5,6,7]
print([i for i in l1 if i in l2])

[3, 4]

In [3]:
def swapping(x,y):
    x,y=y,x
    return x,y
swapping(10,20)

(20, 10)

In [4]:
def swapping(x,y):
    return (y,x)
swapping(10,20)

(20, 10)

In [5]:
def fact(n):
    mul=1
    for i in range(1,n+1):
        mul = mul*i
    return mul
fact(5)

120

In [6]:
def facta(n):
    return 1 if n==0 or n==1 else n*fact(n-1)
facta(5)

120

In [7]:
#1+2+4+7+14=28
#1+2+3=6
def perfect(n):
    return sum(i for i in range(1,n) if n%i==0)==n
perfect(28)

True

In [8]:
def primenumber(n):
    return len([i for i in range(2,n+1) if n%i==0])==1
primenumber(13)

True

In [9]:
def recurrecting_char(s: str):
    return [i for i in set(s) if list(s).count(i)>1]
recurrecting_char('jinalpanchal')

['n', 'a', 'l']

In [10]:
def recurrecting_char(s: str):
    return None if len([i for i in set(s) if list(s).count(i)>1])==0 else [i for i in set(s) if list(s).count(i)>1]
recurrecting_char('jinalpanchal')

['n', 'a', 'l']

In [11]:
def fibonacci(n):
    a=0
    b=1
    print(" ",a,"",b,end="")
    for i in range(n):
        c=a+b
        a=b
        b=c
        print(" ",c,end="")
fibonacci(8)

  0  1  1  2  3  5  8  13  21  34

In [12]:
def palidrome(stra):
    stra = stra.casefold()
    if(stra == stra[::-1]):
        print('palindrome')
palidrome('naman')

palindrome

In [13]:
def palidromenum(n):
    temp = n
    rev = 0
    while(n>0):
        d = n%10
        rev = rev*10+d
        n = n//10
    if(temp==rev):
        print("palidrome number")
palidromenum(12321)

palidrome number

In [14]:
#newlist = [expression for item in iterable if condition == True]
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits.sort()
print(newlist)

['apple', 'banana', 'mango']

In [16]:
def leafyear(n):
    return "leaf year" if n%4==0 and n%100!=0 or n%400==0 else "not leaf year"
leafyear(2004)

'leaf year'

In [17]:
def sumdigit(n):
    sum = 0
    while(n>0):
        x=n%10
        sum=sum+x
        n=n//10
    return sum
sumdigit(123)

6

In [18]:
def areatriangle(b,h):
    return (b*h)/2
areatriangle(15,20)

150.0

In [19]:
def recurrecting_char(s: str):
    return None if len([i for i in set(s) if list(s).count(i)>1])==0 else [i for i in set(s) if list(s).count(i)>1]
recurrecting_char('jinalj')

['j']

In [20]:
def recurrecting_char(s: str):
    return [i for i in set(s) if list(s).count(i)>1]
recurrecting_char('jinalpanchal')

['n', 'a', 'l']

In [21]:
def recurrecting_char(s: str):
    return iter([i for i in sorted(set(s),key=lambda x: s.index(x)) if s.count(i)>1])
print(next(recurrecting_char('jinaljpanchal')))
print(next(recurrecting_char('inaljpanchal')))

j
n

In [22]:
def listfun(n):
    if n.count(15)<4 and n.count(19)<3:
        print("True")
    else:
        print("False")
list1 = [19,19,15,15,15,2,3,4]
listfun(list1)

True

In [23]:
def listfun1(n):
    return True if n.count(15)<4 and n.count(19)<3 else False 
list1 = [19,19,15,15,15,2,3,4]
listfun1(list1)

True

In [24]:
list1 = [19,19,19,15,15,15,2,3,4]
listfun1(list1)

False

In [25]:
def modfun(n):
    if n>(4^4) and n%34==4:
        print("True")
    else:
        print("False")
modfun(922)

True

In [26]:
def modfun2(n):
    return True if n>(4^4) and n%34==4 else False
modfun2(922)

True

In [27]:
def stonpile(n):
    if n%2==0:
        for i in range(2):
            print(n)
            n=n+2
stonpile(2)

2
4

In [28]:
def stonpile(n):
    lis = []
    for i in range(n):
        lis.append(n)
        n=n+2
    return lis
stonpile(3)

[3, 5, 7]

In [29]:
stonpile(10)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [30]:
def stonpile1(n):
    return [n+2*i for i in range(n)]
stonpile1(3)

[3, 5, 7]

In [31]:
stonpile1(6)

[6, 8, 10, 12, 14, 16]

In [32]:
#last number ma last ni aagad vadu hovu joi
def stringfun(n):
    return True if n[-2] in n[-1] else False
list2= ['aa','ab','cc','abcc']
stringfun(list2)

True

In [33]:
list2= ['aa','ab','cc','ab']
stringfun(list2)

False

In [40]:
def intger(n):
    return all(n[i]-n[i-1]==10 for i in range(1,len(n)))
lis = [10,20,30,40,50]
intger(lis)

True

In [42]:
lis1 = [10,20,30,40,50,70,90]
intger(lis1)

False